body {
    background-color: #f4f4f4;
    color: #333; 
    font-family: 'Arial', sans-serif; 
    padding: 20px;
}

main {
    background-color: rgb(255, 236, 236); 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
}

h3 {
    color: #007bff;
    margin-bottom: 15px; 
}

h4 {
    color: #dd0edd;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    margin-left: 20px; 
}

p {
    line-height: 1.6; 
}